<!DOCTYPE html>
<html ng-app='ShoppingListCheckOff'>
  <head>
    <meta charset="utf-8">
<script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Filters</title>
  </head>
  <body>
  <h2>To Buy</h2>

    <div ng-controller='ToBuyController as toBuy'>
      <ol>
         <li ng-repeat="item in toBuy.items">
          {{ item.quantity }} of {{ item.name }}
          <button ng-click="toBuy.boughtItem($index);">Bought</button>
        </li>
      </ol>
      </div>

      <div ng-controller='AlreadyBoughtController as alreadyBought'>
         <ol>
        <li ng-repeat="item in alreadyBought.items">
          {{ item.quantity }} of {{ item.name }}
        </li>
      </ol>
    </div>
    </div>
</body>
</html>
